*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body { 
    width: 100%;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background: var(--gradientes-gradiente-hover, linear-gradient(91deg, #9F55FF 0.99%, #FF46B9 102.1%));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
   



}
button {
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    border: none;
}
.card {

    background-color: #1E1F28;
    width: 100%;
    max-width: 846px;
    border-radius: 1rem;
    border: 8px solid var(--gradientes-gradiente-logo, #9747FF)
}
.movies {
    display: flex;
    gap: 2.25rem;
    margin-top: 2.25rem;
    
}.container {
    padding: 4rem 6rem;


}
header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header button {

    background: var(--gradientes-gradiente-normal, linear-gradient(91deg, #8323FF 0.99%, #FF2DAF 102.1%));
    width: 13.75rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header span {

    font-size: .9375rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    font-weight: 400;
    width: 9.25rem;
}

.title {
    display: flex;
    justify-content: space-between;
}
.nota {
    display: flex;
}
.nota img {
    overflow: hidden;
}