*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body { 
    width: 100%;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background: var(--gradientes-gradiente-hover, linear-gradient(91deg, #9F55FF 0.99%, #FF46B9 102.1%));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
   



}
button {
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    border: none;
}
.card {
    max-width: 52.875rem;
    background-color: #1E1F28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    border: 8px solid var(--gradientes-gradiente-logo, #9747FF);
    box-sizing: content-box;
    background: var(--cores-cinza-dark, #1E1F28);
    box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
}
.movies {
    display: flex;
    gap: 2.25rem;
    margin-top: 2.25rem;
    
}.container {
    padding: 4rem 6rem;


}
header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header button {

    background: var(--gradientes-gradiente-normal, linear-gradient(91deg, #8323FF 0.99%, #FF2DAF 102.1%));
    width: 13.75rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}header button:hover {

    background: var(--gradientes-gradiente-hover, linear-gradient(91deg, #9F55FF 0.99%, #FF46B9 102.1%));
    cursor: pointer;
    
}
header span {

    font-size: .9375rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    font-weight:100;
    width: 9.25rem;
    
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:2.5rem;
    margin-bottom: .75rem;

}
.title span {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    font-style: normal;
    max-width: 8.75rem;
    text-overflow: ellipsis;
    word-spacing: -0.0625rem;
   
}
.nota {
    display: flex;
    color: var(--cores-amarelo, #FEEA35);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.408px;
    font-family: Outfit;
    gap:.27rem;
}
.nota img {
    overflow: hidden;
}
.info {
    display: flex;
    justify-content: space-between;
    height: 1.25rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #8B8D9B;
    font-size: .75rem;
}.movie button {

    background-color: #2B2B37;
    padding:.5rem 1.8438rem;
    width:100%;
    font-family: Outfit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;

}.movie button:hover {

    background-color: #373745;
    cursor: pointer;
}
.movie button span {
    width: 6.1875rem;

}.duration {
    font-family: Outfit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: .875rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}.year {
    font-family: Outfit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: .875rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
